<ng-container #container></ng-container>
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background" style="background-image: url('assets/img/banner.webp');">

      <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active" *ngFor="let sliderData of sliderData">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>{{sliderData.heading}}</span></h2>
            <p class="animate__animated animate__fadeInUp">{{sliderData.paragraph}}</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>

        <!-- <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut
              et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse
              doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut
              et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse
              doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div> -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
      </svg>

    </section><!-- /Hero Section -->
    <section class="bg-dark py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 overflow-hidden">
            <div class="scrolling-text d-flex">
              <ul class="d-flex gap-5 m-0 p-0 list-unstyled text-white">
                <li>
                  <span><i class="bi bi-bell-fill me-2"></i>NEP - As per the guidelines from UGC and directives of the
                    State Government of Maharashtra, the NEP has been implemented from the academic year 2023-24.</span>
                </li>
                <li>
                  <a href="#" target="_blank" class="text-white text-decoration-none">
                    <i class="bi bi-bell-fill me-2"></i>Click Here for SU-DAT 2025-26 Registration
                    <img src="assets/img/new6.gif" alt="new" width="35" height="15">
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" class="text-white text-decoration-none">
                    <i class="bi bi-bell-fill me-2"></i>Click Here for SU-MAT 2025-26 Registration
                    <img src="assets/img/new6.gif" alt="new" width="35" height="15">
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" class="text-white text-decoration-none">
                    <i class="bi bi-bell-fill me-2"></i>Click Here for SU-LAT 2025-26 Registration
                    <img src="assets/img/new6.gif" alt="new" width="35" height="15">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <style>
      .scrolling-text {
        animation: scroll-left 30s linear infinite;
        white-space: nowrap;
      }

      @keyframes scroll-left {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(-100%);
        }
      }
    </style>


    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>Who we are</p>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </p>
            <ul *ngFor="let para of aboutData[0]?.paragraphs">
              <li><i class="bi bi-check2-circle"></i> <span>{{para}}</span></li>
              <!-- <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
                  velit.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo</span></li> -->
            </ul>
          </div>

          <div class="col-lg-6" style="height: 400px;" data-aos="fade-up" data-aos-delay="200">
            <img [src]="backendUrl + aboutData[0]?.image" alt="Descriptive Alt Text"
              class="w-100 h-100 rounded shadow object-fit-cover" style="object-fit: cover;">
          </div>



        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Programmes -->
    <section class="Study-sec">
      <div class="container">
        <span data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
          data-aos-duration="1000">Future-Ready Programmes</span>
        <p class="lead" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
          data-aos-duration="1000">Discover diverse, new-age programmes designed to shape future leaders.</p>
        <div class="row align-items-center">
          <div class="col-lg-9">
            <h2 data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">
              Innovation is in our DNA, explore our pillars of knowledge
            </h2>
          </div>
          <div class="col-lg-3 upward">
            <div class="search-home" data-aos="flip-left" data-aos-offset="200" data-aos-easing="ease-in-sine"
              data-aos-duration="800">
              <div class="home-submit searchable">
                <input type="text" name="search_course" class="form-control" placeholder="Type Programme Name"
                  autocomplete="off" onkeyup="filterFunction(this, event)" aria-label="Search programmes">
                <ul id="programmeList">
                  <li><a href="#">B.Tech Civil Engineering</a></li>
                  <li><a href="#">B.Tech Mechanical Engineering</a></li>
                  <li><a href="#">B.Tech Chemical Engineering</a></li>
                  <li><a href="#">B.Tech Computer Science and Engineering</a></li>
                  <li><a href="#">M.Tech Civil Engineering</a></li>
                  <li><a href="#">Ph.D. in Chemical Engineering</a></li>
                  <li><a href="#">B.Sc. Computer Science</a></li>
                  <li><a href="#">M.Sc. Data Science</a></li>
                  <li><a href="#">B.Pharm</a></li>
                  <li><a href="#">MBA Marketing</a></li>
                </ul>
                <div class="submit-btn">
                  <a href="javascript:void(0);" onclick="document.querySelector('input[name=search_course]').focus()">
                    <img src="https://mitwpu.edu.in/assets/frontend/images/search-icon.svg" alt="Search icon"
                      class="img-fluid" loading="lazy">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row gy-4 justify-content-center">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" *ngFor="let future_programmes_Data of future_programmes_Data;">
              <div class="service-item position-relative ugp">
                <a href="#" class="stretched-link home-sec-link">
                  <h2 class="home-sec-title">{{future_programmes_Data.programName}}</h2>
                </a>
                <p class="home-sec-desc">{{future_programmes_Data.paragraph}}</p>
              </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item position-relative pgp">
                <a href="#" class="stretched-link home-sec-link">
                  <h2 class="home-sec-title">Postgraduate Programmes</h2>
                </a>
                <p class="home-sec-desc">Augment your proficiencies and add value to your knowledge by choosing from a
                  diverse range of postgraduate programmes.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item position-relative dgp">
                <a href="#" class="stretched-link home-sec-link">
                  <h2 class="home-sec-title">Ph.D. <br>Programmes</h2>
                </a>
                <p class="home-sec-desc">Pursue a host of focused doctoral programmes and lead in advanced research in
                  your field of study.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item position-relative phgp">
                <a href="#" class="stretched-link home-sec-link">
                  <h2 class="home-sec-title">Diplomas & Certifications</h2>
                </a>
                <p class="home-sec-desc">Enrich your learning or bridge the gap between academic phases through various
                  diplomas and certifications.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-item position-relative dgp">
                <a href="#" class="stretched-link home-sec-link">
                  <h2 class="home-sec-title">Additional Ph.D. Programme</h2>
                </a>
                <p class="home-sec-desc">Pursue a host of focused doctoral programmes and lead in advanced research in
                  your field of study.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="service-item position-relative phgp">
                <a href="#" class="stretched-link home-sec-link">
                  <h2 class="home-sec-title">Additional Diploma & Certification</h2>
                </a>
                <p class="home-sec-desc">Enrich your learning or bridge the gap between academic phases through various
                  diplomas and certifications.</p>
              </div>
            </div> -->

          </div>
        </div>

      </div>
    </section>
    <!-- /Programmes -->

    <!-- Recruiters Section -->
    <section class="recruiters-section" id="placements">
      <div class="shape-1"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="apbc-title-area text-center" data-aos="fade-up" data-aos-offset="200"
              data-aos-easing="ease-in-sine" data-aos-duration="1000">
              <div class="apbc-headline">
                <h3>Campus Placements</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-10 offset-md-1" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
            data-aos-duration="1000">
            <p>For many years, our graduates have been the preferred choice of recruiters. Through our personalized
              placement support and Corporate Resource Centre (CRC), we ensure every student is prepared to launch a
              successful career.</p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine"
            data-aos-duration="800" *ngFor="let placements_Data of placements_Data">
            <div class="tac-2">
              <div class="taxt2">
                <p><span class="counter" data-target="13000">{{placements_Data.number}}</span>{{placements_Data.sign}} <span>{{placements_Data.label}}</span></p>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <div class="tac-2">
              <div class="taxt2">
                <p><span class="counter" data-target="1250">0</span>+ <span>Companies visited for placements in
                    2023-24</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <div class="tac-2">
              <div class="taxt2">
                <p><span class="counter" data-target="62.7">0</span> LPA <span>Highest salary offered through campus
                    placements</span></p>
              </div>
            </div>
          </div> -->
        </div>

        <div class="row mt-5">
          <div class="col-md-12">
            <div class="placement-logo" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
              data-aos-duration="1000">
              <h5 class="text-center mb-4">Our students have received job offers from top global and national
                corporations</h5>
              <div class="brand-wrapper">
                <div id="logoCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="d-flex justify-content-center flex-wrap gap-3">
                        <img src="assets/img/company/accenture.jpg" class="img-fluid mx-3" alt="Company 1"
                          loading="lazy">
                        <img src="assets/img/company/cap.jpg" class="img-fluid mx-3" alt="Company 2" loading="lazy">
                        <img src="assets/img/company/ibm.jpg" class="img-fluid mx-3" alt="Company 3" loading="lazy">
                        <img src="assets/img/company/infosys.jpg" class="img-fluid mx-3" alt="Company 4" loading="lazy">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-flex justify-content-center flex-wrap gap-3">
                        <img src="assets/img/company/accenture.jpg" class="img-fluid mx-3" alt="Company 5"
                          loading="lazy">
                        <img src="assets/img/company/cap.jpg" class="img-fluid mx-3" alt="Company 6" loading="lazy">
                        <img src="assets/img/company/ibm.jpg" class="img-fluid mx-3" alt="Company 7" loading="lazy">
                        <img src="assets/img/company/infosys.jpg" class="img-fluid mx-3" alt="Company 8" loading="lazy">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-flex justify-content-center flex-wrap gap-3">
                        <img src="assets/img/company/accenture.jpg" class="img-fluid mx-3" alt="Company 9"
                          loading="lazy">
                        <img src="assets/img/company/cap.jpg" class="img-fluid mx-3" alt="Company 10" loading="lazy">
                        <img src="assets/img/company/ibm.jpg" class="img-fluid mx-3" alt="Company 11" loading="lazy">
                        <img src="assets/img/company/infosys.jpg" class="img-fluid mx-3" alt="Company 12"
                          loading="lazy">
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#logoCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#logoCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /Recruiters Section -->

    <section class="py-3 bg-light">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-3" data-aos="fade-down-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
            data-aos-duration="1000">
            <strong>Best Placements – Turning Ambitions into Careers</strong>
          </h2>
          <blockquote class="blockquote">
            <p class="mb-0">Top recruiters, unmatched opportunities – your success story begins here.</p>
          </blockquote>
        </div>
      </div>
    </section>
    <section class="py-1 bg-light">
      <div class="container text-center">
        <div id="placementCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let placement_images_Data of placement_images_Data">
              <img  [src]="backendUrl + placement_images_Data?.image"
                class="d-block w-100 rounded" alt="image">
            </div>
            <!-- <div class="carousel-item">
              <img src="https://mitwpu.edu.in/assets/frontend/images/placements/Dhairvi-Shah.webp"
                class="d-block w-100 rounded" alt="Dhairvi Shah">
            </div>
            <div class="carousel-item">
              <img src="https://mitwpu.edu.in/assets/frontend/images/placements/Mayank-Kumar.webp"
                class="d-block w-100 rounded" alt="Mayank Kumar">
            </div>
            <div class="carousel-item">
              <img src="https://mitwpu.edu.in/assets/frontend/images/placements/Anukriti-Joshi.webp"
                class="d-block w-100 rounded" alt="Anukriti Joshi">
            </div> -->
          </div>

          <!-- Carousel controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#placementCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#placementCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>



    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <ul class="nav nav-tabs row d-flex" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item col-6 col-md-3 text-center">
            <a class="nav-link active show d-flex flex-column align-items-center" data-bs-toggle="tab"
              data-bs-target="#features-tab-1">
              <i class="bi bi-binoculars fs-3 mb-1"></i>
              <h5 class="mb-0">Modi sit est dela pireda nest</h5>
            </a>
          </li>
          <li class="nav-item col-6 col-md-3 text-center">
            <a class="nav-link d-flex flex-column align-items-center" data-bs-toggle="tab"
              data-bs-target="#features-tab-2">
              <i class="bi bi-box-seam fs-3 mb-1"></i>
              <h5 class="mb-0">Unde praesenti mara setra le</h5>
            </a>
          </li>
          <li class="nav-item col-6 col-md-3 text-center">
            <a class="nav-link d-flex flex-column align-items-center" data-bs-toggle="tab"
              data-bs-target="#features-tab-3">
              <i class="bi bi-brightness-high fs-3 mb-1"></i>
              <h5 class="mb-0">Pariatur explica nitro dela</h5>
            </a>
          </li>
          <li class="nav-item col-6 col-md-3 text-center">
            <a class="nav-link d-flex flex-column align-items-center" data-bs-toggle="tab"
              data-bs-target="#features-tab-4">
              <i class="bi bi-command fs-3 mb-1"></i>
              <h5 class="mb-0">Nostrum qui dile node</h5>
            </a>
          </li>
        </ul>

        <!-- End Tab Nav -->

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="features-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>
                    <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                  </li>
                  <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
                      velit</span>.</li>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu
                      fugiat nulla pariatur.</span></li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/working-1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Neque exercitationem debitis soluta quos debitis quo mollitia officia est</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
                      velit.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Provident mollitia neque rerum asperiores dolores quos qui
                      a. Ipsum neque dolor voluptate nisi sed.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu
                      fugiat nulla pariatur.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/working-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Voluptatibus commodi ut accusamus ea repudiandae ut autem dolor ut assumenda</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
                      velit.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Provident mollitia neque rerum asperiores dolores quos qui
                      a. Ipsum neque dolor voluptate nisi sed.</span></li>
                </ul>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/working-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
                      velit.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu
                      fugiat nulla pariatur.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/working-4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>What we do offer</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" *ngFor="let home_services_Data of home_services_Data">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="{{home_services_Data.icon}}" style="color: #0dcaf0;"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>{{home_services_Data.heading}}</h3>
              </a>
              <p>{{home_services_Data.paragraph}}</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section>
    <!-- /Services Section -->



    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>What they are saying about us</p>
      </div><!-- End Section Title -->



      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let t of testimonials">
              <div class="testimonial-item">
                <img [src]="backendUrl + t.image" class="testimonial-img" alt="{{ t.name }}" />
                <h3>{{ t.personName }}</h3>
                <h4>{{ t.jobTitle }}</h4>
                <div class="stars">
                  <i class="bi bi-star-fill" *ngFor="let star of [].constructor(t.starRating)"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>{{ t.testimonialContent }}</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </div>


      <!-- <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 10
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram
                    malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                    minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                    velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                    veniam.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                    culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                    quid.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div> -->

    </section>
    <!-- /Testimonials Section -->


    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Faculty</h2>
        <p>Our Hardworking Faculty</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" *ngFor="let faculty_data of faculty_data">
            <div class="team-member">
              <div class="member-img">
                <img [src]="backendUrl + faculty_data?.image" class="img-fluid" alt="">
                <div class="social">
                  <a target="_blank" href="{{faculty_data?.twitterLink}}"><i class="bi bi-twitter-x"></i></a>
                  <a target="_blank" href="{{faculty_data?.facebookLink}}"><i class="bi bi-facebook"></i></a>
                  <a target="_blank" href="{{faculty_data?.instagramLink}}"><i class="bi bi-instagram"></i></a>
                  <a target="_blank" href="{{faculty_data?.linkedinLink}}"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{faculty_data?.facultyName}}</h4>
                <span>{{faculty_data?.jobTitle}}</span>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div> -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Recent Posts</h2>
        <p>Recent Blog Posts<br></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100" *ngFor="let blog_articles_data of blog_articles_data">
            <article>

              <div class="post-img">
                <img [src]="backendUrl + blog_articles_data?.articleImage" alt="image" class="img-fluid">
              </div>

              <p class="post-category">{{blog_articles_data?.postCategory}}</p>

              <h2 class="title">
                <a href="blog-details.html">{{blog_articles_data?.title}}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img [src]="backendUrl + blog_articles_data?.authorImage" alt="image" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{blog_articles_data?.authorName}}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{blog_articles_data?.postDate | date}}</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

          <!-- <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Sports</p>

              <h2 class="title">
                <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div> -->

        </div><!-- End recent posts list -->

      </div>

    </section><!-- /Recent Posts Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Your Name</label>
                            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your name" required>
                        </div>

                        <div class="col-md-6">
                            <label for="email" class="form-label">Your Email</label>
                            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email" required>
                        </div>

                        <div class="col-md-12">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" id="subject" class="form-control" formControlName="subject" placeholder="Enter subject" required>
                        </div>

                        <div class="col-md-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea id="message" class="form-control" formControlName="message" rows="6" placeholder="Enter your message" required></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                            <button type="submit">Send Message</button>
                        </div>
                        </div>
                    </form>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <ng-container #footercontainer></ng-container>