<ng-container #container></ng-container>





    <main class="main">

        <!-- Hero Section -->
        <section class="hero-section mb-5" data-aos="fade-down">
            <div class="container">
                <h1 class="display-4 fw-bold mb-3 text-light">Campus Gallery</h1>
                <p class="lead mb-4">A glimpse into the vibrant life and facilities at Brahma Valley University.</p>
            </div>
        </section>

        <!-- Gallery Section -->
        <section class="container mb-5">
            <div class="row g-4">

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                    <a href="assets/img/gallery/campus1.jpg" data-rel="lightcase:gallery" class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/campus1.jpg" alt="Campus View 1" />
                    </a>
                    <div class="gallery-caption">Main Campus Entrance</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="150">
                    <a href="assets/img/gallery/library.jpg" data-rel="lightcase:gallery" class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/library.jpg" alt="Library" />
                    </a>
                    <div class="gallery-caption">University Library</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                    <a href="assets/img/gallery/lab.jpg" data-rel="lightcase:gallery" class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/lab.jpg" alt="Computer Lab" />
                    </a>
                    <div class="gallery-caption">Computer Lab Facilities</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="250">
                    <a href="assets/img/gallery/auditorium.jpg" data-rel="lightcase:gallery"
                        class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/auditorium.jpg" alt="Auditorium" />
                    </a>
                    <div class="gallery-caption">Auditorium & Events</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                    <a href="assets/img/gallery/sports.jpg" data-rel="lightcase:gallery" class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/sports.jpg" alt="Sports Complex" />
                    </a>
                    <div class="gallery-caption">Sports Complex</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="350">
                    <a href="assets/img/gallery/cafeteria.jpg" data-rel="lightcase:gallery"
                        class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/cafeteria.jpg" alt="Cafeteria" />
                    </a>
                    <div class="gallery-caption">Campus Cafeteria</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
                    <a href="assets/img/gallery/hostel.jpg" data-rel="lightcase:gallery" class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/hostel.jpg" alt="Hostel" />
                    </a>
                    <div class="gallery-caption">Student Hostel</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="450">
                    <a href="assets/img/gallery/lab2.jpg" data-rel="lightcase:gallery" class="gallery-img shadow-sm">
                        <img src="assets/img/gallery/lab2.jpg" alt="Science Lab" />
                    </a>
                    <div class="gallery-caption">Science Labs</div>
                </div>

            </div>
        </section>

    </main>
    <ng-container #footercontainer></ng-container>